.titulo{
    background-color: brown;
    height: 75px;
}
h2{
    background-color: brown;
    height: 50px;

}
body{
    background-color: beige;
}
.foto{
    width: 320px;
    height: 200px;
}